/* foobug */

body {
  font-family: monospace;
  font-size: 100%;
  background-color: white;
  color: #111;
  width: 94%;
  min-width: 400px;
  min-height: 200px;
  margin: 0% 2%;
/*   border: thin solid gray;
  border-radius: 5px; */
  display: block;
}

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

#banner h2 { font-size: 2.6em; }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

#banner h1 {
  display: inline;
  margin-right: 1.4em;
 }

#menu {
  margin-bottom: 3em;
  display: inline;
 }

#menu ul {
  padding-left: 0px;
  display: inline;
}

#menu li {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 0.7em;
}

#date {
  display:inline-block;
  width: 8.9em;
  }

#post-list { 
margin-top: 2em;
padding-left: 0px;
}

#post-list li { 
list-style: none;
}

#linx a {
width: 20em;
display: inline-block;
}

pre {
    margin: 2em 1em 2em 4em;
}

a.active:visited { color: blue; }


