/* foosel - pelican theme */

body {
  font-family: monospace, Georgia, Arial, Helvetica;
  margin: 2% 2%;
  color: #111;
  padding: 0 5%;
  font-size: 145%;
  line-height: 1.2;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover, a:active {
  color: #111;
  text-decoration: underline;
}

.active a:link, .active a:visited {
  color:#ffffff;
  background:#363636;
 }

#content {
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #ebebeb;
  min-height: 100vh;
}

.entry-content a {
  color: green;
  text-decoration: underline;
}

.lastmod {
  padding-top: 2%;
}

#banner h1 {
  display: inline;
}

#menu ul {
  padding-left: 73%;
  display: inline;
}

#menu li {
  padding-left: 1%;
  display: inline-block;
}

nav {
  display: inline;
}

#post-list {

}

#post-list li {
  list-style: none;
  margin-left: -1em;
}

#date {
  display:inline-block;
}
